body{
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, li{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav, main{
    margin: 0;
    display: inline-block;
}

nav{
    background-color: rgb(29, 26, 49);
    position: fixed;
}

#home img{
    width: 100%;
}

main{
    margin-left: 350px;
    margin-top: 5px;
    width: 72%;
}

ul{
    margin: 0;
    padding: 100px 122px;
}
ul li{
    margin: 42px 0px;
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
}

nav h1{
    text-align: center;
    color: #fff;
    margin-top: 75px;
}

section{
    min-height: 422px;
    width: 100%;
    margin-top: 27px;
}
section #titulo{
    text-align: center;
    margin: 4px;
    font-size: 4rem;
    color: rgb(29, 26, 49);
}

section h2{
    text-align: center;
    margin: 4px;
    font-size: 2rem;
    color: rgb(29, 26, 49);
}

.botoes{
    padding: 10px 337px;
}

.botao1{
    cursor: pointer;
    width: 299px;
    height: 44px;
    background-color: #fff;
    border: 2px solid rgb(29, 26, 49);
    color: rgb(29, 26, 49);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin: 32px 0px 65px 0px;
}