/*body*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
/*body*/

/*texto*/
h1, h2, h3, p, li{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 26, 49);
}
/*texto*/

/*nav*/
nav{
    width: 100%;
    background-color: rgb(29, 26, 49);
    position : fixed;
}

nav h1{
    max-width: 100%;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin: 1.4% 9%;
}

nav img:hover{
    border: 4px solid #fff;
}

nav{
    margin: 0;
}

ul{
    width: 32%;
    margin: 2.2% 9%;
    float: right;
}
ul li{
    text-align: center;
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    margin: 0px 2.5%;
}
nav a{
    text-decoration: none;
}

nav li:hover{
    background-color: #fff;
    color: rgb(29, 26, 49);
}

/*nav*/


/*main*/
main{
    padding: 9% 0px;
    width: 100%;
}
/*main*/

/*section*/
#home img{
    width: 70%;
    margin-top: 1%;
}

#equipe .membro img{
    max-width: 100%;
    max-height: 100%;
}

section{
    text-align: center;
    margin: auto auto;
    min-height: 422px;
    width: 100%;
}

section #titulo{
    text-align: center;
    margin: 4px;
    font-size: 4rem;
    color: rgb(29, 26, 49);
}

section h2{
    text-align: center;
    margin: 4px;
    font-size: 2rem;
    color: rgb(29, 26, 49);
}

.botoes{
    text-align:center;
}

.botao1{
    cursor: pointer;
    width: 299px;
    height: 44px;
    background-color: #fff;
    border: 2px solid rgb(29, 26, 49);
    color: rgb(29, 26, 49);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin: 32px 0px 65px 0px;
}

.botao1:hover{
    background-color: rgb(29, 26, 49);
    color: #fff;;
}

#equipe{
    text-align: center;
}

section h1{
    font-size: 3em;
    color: rgb(29, 26, 49);
    text-align: center;
    margin-bottom: 59px;
}

#equipe div{
    width: 239px;
    height: 450px;
    /*border: 1px solid black;*/
    display: inline-block;
    margin: 0px 11px;
    text-align: center;
}

#equipe div .membro{
    width: 100%;
    height: 60%;
    border-radius: 5%;
}

#nome{
    color: rgb(29, 26, 49);
    margin: 7px 0px;
    font-size: 1.4em;
}

#funcao{
    color: rgb(29, 26, 49);
    font-size: 1.0em;
    font-family: 'Courier New', Courier, monospace;
    margin: 12px 0px;
}

#equipe div #social{
    margin: 14px 0px;
    width: 100%;
    height: 25px;
}

#equipe div #social img{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0px;
}

#equipe div #social h3{
    margin: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 26, 49);
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    transform: translateY(-25%); 
}

#equipe div #social h3:hover{
    text-decoration: underline;
}
/*section*/
.row{
    width: 100%;
    margin: 0;
}
.icone{
    display: inline-block;
    margin: 0% 5%;
}
.icone h2{
    font-size: 1.5rem;
}
.icone p{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#a{
    font-size: 5rem;
    margin: 0px;
    color: rgb(29, 26, 49);
}
