/*body*/
* {
    caixa-sizing : border-box ;
  }
body{
    margin: 0;
    width: 100%;
}
/*body*/

/*texto*/
h1, h2, h3, p, li{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 26, 49);
}
/*texto*/

/*nav*/
nav{
    width: 100%;
    background-color: rgb(29, 26, 49);
    position : fixed;
    vertical-align: middle;
    height: 50px;
}

nav h1{
    color: #fff;
    display: inline-block;
    padding-left: 5%;
}

ul{
    width: 40%;
    float: right;
}
ul li{
    list-style: none;
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    margin: 0 2.5%;
}
nav a{
    text-decoration: none;
}

nav li:hover{
    background-color: #fff;
    color: rgb(29, 26, 49);
}
/*nav*/

/*main*/
main{
    padding: 10px;
    width: 100%;
}

/*main*/

/*sections em geral*/
section{
    text-align: center;
    margin: 10px auto;
    width: 100%;
    padding: 50px 0;
}

section h2{
    text-align: center;
    margin: 4px;
    font-size: 2em;
    color: rgb(29, 26, 49);
}

section h1{
    font-size: 3em;
    color: rgb(29, 26, 49);
    text-align: center;
    margin: 5% 0;
}
/*sections em geral*/

/*home*/
#home img{
    width: 70%;
    margin-top: 1%;
}
#home #titulo{
    text-align: center;
    margin: 0.3%;
    font-size: 4em;
    color: rgb(29, 26, 49);
}
.botoes{
    text-align:center;
}
.botao1{
    cursor: pointer;
    width: 22%;
    background-color: #fff;
    border: 2px solid rgb(29, 26, 49);
    color: rgb(29, 26, 49);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.4%;
    font-size: 100%;
}

.botao1:hover{
    background-color: rgb(29, 26, 49);
    color: #fff;
}

/*home*/

/*equipe*/
#equipe{
    text-align: center;
}

#equipe div{
    width: 17%;
    height: 450px;
    display: inline-block;
    margin: 0 0.5%;
    text-align: center;
}

#equipe div .membro{
    width: 100%;
    height: 60%;
    border-radius: 5%;
}

#nome{
    color: rgb(29, 26, 49);
    margin: 7% 0;
    font-size: 1.4em;
}

#funcao{
    color: rgb(29, 26, 49);
    font-size: 1.0em;
    font-family: 'Courier New', Courier, monospace;
    margin: 2% 0;
}

#equipe div #social{
    margin: 4% 0;
    width: 100%;
}

#equipe div #social img{
    width: 8%;
    display: inline-block;
    margin: 0;
}

#equipe div #social h3{
    margin: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 26, 49);
    display: inline-block;
    font-size: 1.2em;
}

#equipe div #social h3:hover{
    text-decoration: underline;
}
/*equipe*/

/*contato*/
.faixa_de_icones{

}    

.icone{  
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

#contato .icone{
    font-size: 1em;
    margin: 0;
    color: rgb(29, 26, 49);
}
/*contato*/

/*footer*/
footer{
    background-color: rgb(29, 26, 49);
    height: 100px;
}
footer p{
    padding: 40px 0 20px;
    text-align: center;
    color: white;
}
/*footer*/

